<section ng-controller="AccueilBEController" class="container-default">
    <div class="container-fonctions">
        <a href="/#/espace-be/gestion-module/" class="fonction">
            <span class="label">Gestion des modules</span>
        </a>
    </div>
</section>