<script>
    $(document).ready(function () {
        // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
        $('.modal').modal();
    });
</script>

<div ng-controller="GestionModuleController" class="container white z-depth-5">
    <div class="row">
        <div class="col m11 offset-m1">
            <h2>Liste des modules</h2>
        </div>
    </div>

    <div class="row">
        <div class="col m10 offset-m1">
            <table class="bordered">
                <thead>
                <tr>
                    <th>Référence</th>
                    <th>Libelle</th>
                    <!--<th>Prix HT</th>
                    <th>Temps pose</th>
                    <th>% TVA</th>
                    <th>Dimension</th>-->
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="module in modules">

                    <td><a href="/#/#">{{module.reference}}</a></td>

                    <td>{{module.libelle}}</td>

                </tr>

                <tr ng-show="addMode">
                    <td><input class="validate" ng-model="buildingToAdd.label" placeholder="Nom" type="text" required></td>
                    <td></td>
                    <!--<td class="right">
                        <a class="waves-effect waves-light btn blue" type="submit"
                           ng-click="addBuilding(buildingToAdd)"><i class="material-icons">check</i></a>
                        <a class="waves-effect waves-light btn red" ng-click="addMode = false"><i
                                class="material-icons">cancel</i></a>
                    </td>-->
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col m1 offset-m10">
            <a class="btn-floating green right" ng-show="!addMode" ng-click="addMode = true"><i class="material-icons">add</i></a>
        </div>
    </div>

   <!-- <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Modification de {{buildingToModify.label}}</h4>
            <div class="row">
                <form class="col s12">
                    <div clas="row">
                        <div class="input-field col s6">
                            <input ng-model="buildingToModify.label" type="text">
                            <label ng-class="{active: buildingToModify.label != null}">Nom</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn waves-effect waves-light orange modal-close" type="submit" name="action"
                    ng-click="updateBuilding(buildingToModify)">Modifier</button>
        </div>
    </div>

    <div id="deleteModal" class="modal">
        <div class="modal-content">
            <h4>Êtes vous sûr de vouloir supprimer le batiment : {{ buildingToModify.label }} ?</h4>
        </div>
        <div class="modal-footer">
            <button class="btn waves-effect waves-light red modal-close" type="submit" name="action"
                    ng-click="deleteBuilding(buildingToModify)">Supprimer</button>
        </div>
    </div>-->

</div>