<!DOCTYPE html>
<html lang="fr" ng-app="app">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>Devia. Change your life.</title>

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv='cache-control' content='no-cache'>
        <meta http-equiv='expires' content='0'>
        <meta http-equiv='pragma' content='no-cache'>

        <link rel="stylesheet" href="css/materialize.min.css">
        <link rel="stylesheet" href="css/sweetalert.css">
        <link rel="stylesheet" href="css/app.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata" type="text/css">
        <link rel="stylesheet" href="css/ngToast/ngToast-animations.css" type="text/css">
        <link rel="stylesheet" href="css/ngToast/ngToast.css" type="text/css">
        <link rel="stylesheet" href="css/commercial.css" type="text/css">
        <link rel="stylesheet" href="css/devisCreator.css">

        <script src="js/angularjs/jquery-3.2.1.min.js"></script>
        <script src="js/sweetalert.min.js"></script>
        <script src="js/angularjs/angular/angular.js"></script>
        <script src="js/angularjs/angular-route/angular-route.js"></script>
        <script src="js/angularjs/angular-resource/angular-resource.js"></script>
        <script src="js/angularjs/angular/angular-sanitize.min.js"></script>

        <script src="js/konami-code.js"></script>
        <script src="js/app.js"></script>
        <!-- Controllers angular devia -->
        <script src="js/controller/AuthenticationController.js"></script>
        <script src="js/controller/AccueilCommercialController.js"></script>
        <script src="js/controller/NouveauClientController.js"></script>
        <script src="js/controller/NouveauDevisController.js"></script>
        <script src="js/controller/AccueilBEController.js"></script>
        <script src="js/controller/GestionModuleController.js"></script>
        <script src="js/controller/FinalisationDevisController.js"></script>
        <script src="js/controller/AffichageDevisController.js"></script>


        <script src="js/materialize.min.js"></script>
        <script src="js/ngToast.min.js"></script>
        <script src="js/config/toast.js"></script>
    </head>
    <body>
        <script>
            body = document.getElementsByTagName("body")[0];
            toggle = false;

            new KonamiCode(function () {
                if (toggle)   {
                    toggle = false;
                    body.style = "overflow-x: hidden;transition: transform 2s ease;transform: rotate(0deg); background-image: url(../images/doge_ice_cream.jpg);"
                } else {
                    toggle = true;
                    body.style = "overflow-x: hidden;transition: transform 2s ease;transform: rotate(360deg); background-image: url(../images/doge_ice_cream.jpg";
                }
            });
        </script>

        <toast style="margin-top: 62px;"></toast>

        <nav>
            <div class="nav-wrapper back-devia-color-1">
                <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
                <a href="#" style="padding-left: 10px;" class="brand-logo">Devia</a>
                <div ng-show="authenticate">
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li>{{utilisateur.civilite}}. {{utilisateur.nom}} {{utilisateur.prenom}}</li>
                    </ul>
                </div>
            </div>
        </nav>
        <ul id="slide-out" class="side-nav">
            <div ng-show="authenticate">
                <ul class="right hide-on-med-and-down">
                    <li>{{utilisateur.civilite}}. {{utilisateur.nom}} {{utilisateur.prenom}}</li>
                </ul>
            </div>
        </ul>

        <hero konami-code="life++"></hero>

        <main ng-view></main>

        <footer class="page-footer back-devia-color-1">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Devia. Managing your workforce.</h5>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">L'équipe de développement</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="#!">Axel ADAINE JEAN PIERRE</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Marc ETOURNEAU</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Alexis ZAWIALOFF</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © 2018 Copyright
                    <a class="grey-text text-lighten-4 right" href="#!">Devia</a>
                </div>
            </div>
        </footer>
    </body>
</html>
