<section ng-controller="AuthenticationController" class="container-default">
    <h4 class="connexion-title">Devia. Managing your workforce.</h4>
        <center>
            <div class="section"></div>

            <div class="section"></div>

            <div class="container">
                <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

                    <form class="col s12" method="post" ng-submit="connexion()">
                        <div class='row'>
                            <div class='col s12'>
                            </div>
                        </div>

                        <div class='row'>
                            <div class='input-field col s12'>
                                <input ng-model="email" class='validate' type='email' name='email' id='email' />
                                <label for='email'>Entrez votre e-mail</label>
                            </div>
                        </div>

                        <div class='row'>
                            <div class='input-field col s12'>
                                <input ng-model="password" class='validate' type='password' name='password' id='password' />
                                <label for='password'>Entrez votre mot de passe</label>
                            </div>
                            <label style='float: right;'>
                                <a class='font-devia-color-1' href='#!'><b>Mot de passe oublié ?</b></a>
                            </label>
                        </div>

                        <br />
                        <center>
                            <div class='row'>
                                <button name='btn_login' class='col s12 btn btn-large waves-effect back-devia-color-1'>Se connecter à DEVIA</button>
                            </div>
                        </center>
                    </form>
                </div>
            </div>
        </center>
</section>