body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

nav {
    box-shadow: 0px 0px 15px -3px black;
}
footer {
    box-shadow: 0px 0px 15px -3px black;
}

main {
    flex: 1 0 auto;
    background-image: url("../images/back_accueil.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;

}
main h1 {
    color: white;
    font-family: 'Skolar Bold',"Roboto Slab","Droid Serif",Cambria,Georgia,"Times New Roman",Times,serif;
}

.back-devia-color-1 {
    background-color:  rgba(168, 83, 0,0.8) !important;
}
.font-devia-color-1 {
    color:  rgba(168, 83, 0,0.8) !important;
}

/** connexion **/
.connexion-title {
    color: white;
    text-align: center;
}
/** end **/

.message-accueil {
    color : white;
    font-size: 16px;
}
.container-fonctions,.fonction {
    display: flex;
}
.container-fonctions {
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.fonction {
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,0.8);
    transition: background 0.5s,border 0.3s;
    margin: 15px;
    width: 300px;
    height: 300px;
    border: 3px solid rgba(255,255,255,0.8);
}
.fonction:hover {
    background-color: rgba(255,255,255,1);
    border: 3px solid rgba(168, 83, 0,0.8) !important;
}
.fonction .label {
    font-size: 25px;
    color: rgba(168, 83, 0,0.8);
}
.container-default {
    width: 100%;
}