.container-nouveau-client {
    display: flex;
}
.container-nouveau-client {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.input-recherche-devis-block {
    width: 200px !important;
}
.select-recherche-devis-block {
    width: 350px !important;
}
.shadow {
    display:none !important;
}
.btn-nouveau-client {
    width:225px !important;
}
.file_dariane {
    width: 100%;
    text-align: center;
    background-color: rgba(255,255,255,0.5);
    font-style: oblique;
}

.liste-client {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.client {
    margin: 15px;
    background-color: rgba(255,255,255,0.5);
    color: black;
    padding: 10px;
}

.client:hover {
    background-color: rgba(255,255,255,0.8);
}

.titre-page {
    padding: 10px;
    width: 100%;
    text-align: center;
    color: white;
    font-style: oblique;
    font-size: 23px;
}
.container-affichage-devis {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    padding: 20px;
    background-color: white;
    width: 630px;
    margin-left: auto;
    margin-right: auto;
}