.block-creation-devis {
    width:100%;
}
.bottom-fonction,.categorie-container,.module {
    display:flex;
}
.bottom-fonction,.categorie-container,.modules-actions-container {
    width:90%;
    box-shadow: 0px 0px 15px -5px black;
    background-color: rgba(255,255,255,0.5);
}

.categorie-container {
    margin:20px;
    align-items: center;
    justify-content: center;
    height: 180px;
    flex-direction: column;
}
.modules-container {
    align-items: center;
    justify-content: center;
    overflow: auto;
    height: 250px;
    background-color: rgba(255,255,255,0.5);
    white-space: nowrap;
}
.module {
    height: 200px;
    width: 250px;
    background-color: rgba(255,255,255,0.8);
    border: 3px solid rgba(255,255,255,0.8);
    align-items: center;
    justify-content: center;
    display: inline-flex;
    margin: 15px;
    transition: background 0.5s,border 0.5s;
}
.module:hover {
    background-color: rgba(255,255,255,0.5);
}
.categorie-select {
    margin: 5px;
    width: 350px;
}
.bottom-fonction {
    margin:20px;
    flex-direction: column;
    align-items: center;
}
.titre-container {
    text-align: center;
    color: rgb(50,50,50);
    font-size: 19px;
    font-style: oblique;
    width: 100%;
    padding: 5px;
}
.module-name {
    width: 230px;
    overflow: hidden;
}
.module-selected {
    border: 3px solid rgba(168, 83, 0,0.8) !important;
}
.btn-module-action {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.bottom-valeurs-devis {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: 100%;
}
.cout-valeur {
    color: green;
}

.btn-devis-creator-container {
    display:flex;
    width:100%;
    justify-content:space-around;
    padding: 10px;
}
.btn-devis-creator-container .btn {
    width: 255px !important;
}