<section ng-controller="AccueilCommercialController" class="container-default">
    <div class="container-fonctions">
        <a href="/#/espace-commercial/choix-nouveau-devis/" class="fonction">
            <span class="label">Nouveau devis</span>
        </a>
        <a class="fonction">
            <span class="label">Rechercher</span>
        </a>
    </div>
</section>