<section ng-controller="AffichageDevisController" class="container-default">
    <div class="container-affichage-devis">
        <h5 class="font-devia-color-1">Récapitulatif du devis de {{devis.personne.civilite}}. {{devis.personne.nom}} {{devis.personne.prenom}}</h5>
        <div style="color:gray;">Liste des modules inclus :</div>
        <div ng-repeat="moduleDevis in devis.modules">
            <div class="module-name" style="text-align: left;width: 500px !important;" >
                - {{moduleDevis.libelle}} <b>{{moduleDevis.prixHT}}€</b>
            </div>
        </div>
        <div class="cout-valeur">
            Coût total : <b>{{coutTotal}}€</b>
        </div>
        <button class="btn waves-effect apparaitre back-devia-color-1" ng-click="EditerDevis()">Editer la version pdf</button>
    </div>
</section>