<section ng-controller="AccueilCommercialController" class="container-default">
    <div class="container-fonctions">
        <a href="/#/espace-commercial/nouveau-client/" class="fonction">
            <span class="label">Nouveau client</span>
        </a>
        <a href="/#/espace-commercial/nouveau-devis/choix-client" class="fonction">
            <span class="label">Client existant</span>
        </a>
    </div>
</section>