<section ng-controller="AccueilCommercialController" class="container-default">
    <div class="titre-page">Selection du client pour la création d'un devis</div>
    <div class="liste-client">
        <a href="/#/espace-commercial/nouveau-devis/client/{{client.id}}" class="client" ng-repeat="client in clients">
            {{client.civilite}}. {{client.nom}} {{client.prenom}}
        </a>
    </div>
</section>