<script>
    $(document).ready(function() {
        $('select').material_select();
        $('.apparaitre').click(function(){
            $('.shadow').fadeIn(1000);
        });
    });
</script>
<section ng-controller="NouveauDevisController" class="container-default">
    <div class="container-nouveau-client">
        <div class="file_dariane">
            Information du client > <b class="font-devia-color-1">Conception de la maison</b> > Finalisation et validation
        </div>
        <form class="categorie-container">
            <div class="titre-container">Catégorie du module à ajouter</div>
            <div class="categorie-select">
                <select id="categorie" class="browser-default" ng-options='categorie as (categorie.libelle) for categorie in categoriesModules' ng-model="categorieModuleSelected" ng-change="changeCategorieModule()">
                </select>
                <label for='categorie'>Voie</label>
            </div>
            <div class="categorie-select">
                <select id="sousCategorie" class="browser-default" ng-options='sousCategorie as (sousCategorie.libelle) for sousCategorie in sousCategoriesModules' ng-model="sousCategorieModuleSelected" ng-change="changeSousCategorieModule()">
                </select>
                <label for='sousCategorie'>Voie</label>
            </div>
        </form>
        <div class="modules-actions-container">
            <div class="titre-container">Sélectionnez un module</div>
            <div class="modules-container">
                <div class="module" ng-repeat="module in modules" ng-click="selectModule(module)" id="Mod{{module.id}}">
                    <div class="module-name" >
                        {{module.libelle}}
                    </div>
                </div>
            </div>
            <div class="btn-module-action">
                <button type="button" ng-click="addModule()" class='btn waves-effect apparaitre back-devia-color-1'>Ajouter le module au devis</button>
            </div>
        </div>

        <div class="bottom-fonction">
            <div class="titre-container">Actions et compte-rendu en temps réel</div>
            <div class="bottom-valeurs-devis">
                <span class="nb-module"><b>{{nbModules}} module(s)</b></span><span class="cout">Coût total : <b class="cout-valeur">{{coutTotalDevis}} €</b></span>
            </div>
            <div><b>Liste des modules ajoutés :</b></div>
            <div ng-repeat="moduleDevis in modulesDevis">
                <div class="module-name">
                    {{moduleDevis.libelle}}
                </div>
            </div>
            <div class='btn-devis-creator-container'>
                <button type='button' ng-click="abandon()" name='btn_login' class='btn waves-effect back-devia-color-ann apparaitre' style="background-color: rgba(0,0,0,0.5);">Abandonner</button>
                <button type='button' class='btn waves-effect apparaitre back-devia-color-1' ng-click="enregistrerDevis()">Passer à l'étape suivante</button>
            </div>
        </div>
    </div>
</section>