<script>
    $(document).ready(function() {
        $('select').material_select();
        $('.apparaitre').click(function(){
            $('.shadow').fadeIn(1000);
        });
    });
</script>
<section ng-controller="FinalisationDevisController" class="container-default">
    <div class="container-nouveau-client">
        <div class="file_dariane">
            Information du client > Conception de la maison > <b class="font-devia-color-1">Finalisation et validation</b>
        </div>
        <div class="z-depth-1 grey lighten-4 row" style="margin-top: 15px;display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;width: 725px;">
            <form class="col s12" method="post" ng-submit="finaliserDevis()">
                <div class="row">
                    <div class="input-field select-recherche-devis-block">
                        <select ng-options='EtatDevis as (EtatDevis.etat) for EtatDevis in etatsDevis' ng-model="devis.etatDevis">
                        </select>
                        <label>Etat actuel du devis</label>
                    </div>
                    <div class="input-field select-recherche-devis-block">
                        <select ng-options='moyenPaiement as (moyenPaiement.libelle) for moyenPaiement in moyensPaiement' ng-model="devis.moyenPaiement" id="moyenPaiement">
                        </select>
                        <label for="moyenPaiement">Moyen de paiement du client (Pour information)</label>
                    </div>
                    <div>
                        <div class='input-field col s12 input-recherche-devis-block'>
                            <input class='validate' type='text' ng-model="devis.commentaire" id="commentaire"/>
                            <label for='commentaire'>Commentaire éventuel</label>
                        </div>
                    </div>
                    <div class='row' style="display:flex;width:100%; justify-content:space-around;">
                        <button type='button' ng-click="abandonnerDevis()" name='btn_login' class='btn waves-effect back-devia-color-ann apparaitre' style="background-color: rgba(0,0,0,0.5);">Abandonner le devis</button>
                        <button type="submit" name='btn_login' class='btn waves-effect apparaitre back-devia-color-1'>Terminer la création du devis</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>