<script>
    $(document).ready(function() {
        $('select').material_select();
        $('.apparaitre').click(function(){
            $('.shadow').fadeIn(1000);
        });
    });
</script>
<section ng-controller="NouveauDevisController" class="container-default">
    <div class="container-nouveau-client">
        <div class="file_dariane">
            <b class="font-devia-color-1">Information du client</b> > Conception de la maison > Finalisation et validation
        </div>
        <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;width: 725px;">
            <form class="col s12" method="post" ng-submit="ajouterClient()">
                <div class='row'>
                    <div class='col s12'>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field select-recherche-devis-block">
                        <select ng-model="client.civilite">
                            <option value="M">M.</option>
                            <option value="MME">Mme.</option>
                        </select>
                        <label>Civilité</label>
                    </div>
                    <div>
                        <div class='input-field col s12 input-recherche-devis-block'>
                            <input class='validate' type='text' ng-model="client.nom" id="nom"/>
                            <label for='nom'>Nom</label>
                        </div>
                        <div class='input-field col s12 input-recherche-devis-block'>
                            <input class='validate' type='text' id='prenom' ng-model="client.prenom" />
                            <label for='prenom'>Prénom</label>
                        </div>
                    </div>
                    <div>
                        <div class='input-field col s12 input-recherche-devis-block'>
                            <input class='validate' type='date' id='dateNaissance' ng-model="client.dateNaissance"/>
                        </div>
                        <div class='input-field col s12 input-recherche-devis-block'>
                            <input class='validate' type='text' ng-model="client.telephone"  id='telephone' />
                            <label for='telephone'>Numéro de téléphone</label>
                        </div>
                    </div>
                    <div>
                        <div class='input-field col s12 input-recherche-devis-block'>
                            <input class='validate' type='text' ng-model="client.adresseMail"  id='mail' />
                            <label for='mail'>Adresse e-mail</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div>
                        Adresse postale actuelle
                        <div>

                            <div>
                                <div class='input-field col s12 input-recherche-devis-block'>
                                    <input class='validate' type='text' ng-model="client.adresse.numero" id='numero' />
                                    <label for='numero'>Numéro</label>
                                </div>
                                <div class='input-field col s12 input-recherche-devis-block'>
                                    <input class='validate' type='text' ng-model="client.adresse.libelleVoie" id='voie' />
                                    <label for='voie'>Voie</label>
                                </div>
                            </div>
                            <div>
                                <div class='input-field col s12 input-recherche-devis-block'>
                                    <input class='validate' type='text' ng-model="client.adresse.complement" id='complement' />
                                    <label for='complement'>Complément d'adresse</label>
                                </div>
                            </div>
                            <div>
                                <div class="input-field col s12 select-recherche-devis-block">
                                    <select ng-model="client.adresse.pays">
                                        <option ng-repeat="p in pays" value="{{p.id}}">{{p.libelle}}</option>
                                    </select>
                                    <label>Pays</label>
                                </div>
                                <div class="col s12 select-recherche-devis-block">
                                    <select ng-options='departement as (departement.code + "-" + departement.libelle) for departement in departements' ng-model="departementSelected" ng-change="changeDepartement()">
                                    </select>
                                    <label>Département</label>
                                </div>
                                <div class="col s12 select-recherche-devis-block">
                                    <select ng-options="(commune.libelle + ' (' + commune.codePostal +')') for commune in communes" id="ville" ng-model="client.adresse.commune">
                                    </select>
                                    <label>Commune</label>
                                </div>
                            </div>
                            <br />
                            <center>
                                <div class='row' style="display:flex;width:100%; justify-content:space-around;">
                                    <button type='button' ng-click="" name='btn_login' class='btn btn-nouveau-client waves-effect back-devia-color-ann apparaitre' style="background-color: rgba(0,0,0,0.5);">Annuler</button>
                                    <button type="submit" name='btn_login' class='btn btn-nouveau-client waves-effect apparaitre back-devia-color-1'>Ajouter un client</button>
                                </div>
                            </center>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>